/*** Colors ***/

$strawbery-light: #f03756;
$strawbery: #da243c;
$hibiscus-light: #ef5042;
$hibiscus: #da3c2d;
$carrot-light: #f97b3a;
$carrot: #e85f1f;
$pumpkin-light: #f7bb3d;
$pumpkin: #f3a121;
$sunflower-light: #f7de3e;
$sunflower: #f1c81f;
$avocado-light: #b7e660;
$avocado: #a5d44a;
$grass-light: #87e965;
$grass: #70d64f;
$emerald-light: #00e071;
$emerald: #00c95f;
$nephritis-light: #2ecc71;
$nephritis: #27ae60;
$mint-light: #3ad5c4;
$mint: #2bc4b1;
$swimming-pool-light: #56b9ec;
$swimming-pool: #46a7dc;
$blue-jeans-light: #6d80f1;
$blue-jeans: #5e6cdf;
$royal-light: #9e73ef;
$royal: #8044d8;
$lavender-light: #d463ed;
$lavender: #bc34d9;
$rose-light: #f265bb;
$rose: #dc48a9;
$paper-light: #f0f1f4;
$paper: #e1e2e7;
$concrete-light: #c6c9d3;
$concrete: #a4a9b8;
$asphalt-light: #616573;
$asphalt: #424551;
