@import 'modules/colors';
@import 'modules/fonts';
@import 'modules/widths';
@import 'modules/borders';
@import 'modules/displays';
@import 'modules/spinners';

/*** color sets ***/
.palette-deep-blue {background: $blue-jeans; color: $paper-light;}
.palette-blue {background-color : $blue-jeans-light; color: $paper-light;}
.palette-plain {background-color: $paper-light; color: $asphalt-light;}

html, body {
  margin: 0;
  padding: 50;
  font-family: "Lato Regular", "Open Sans", "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }
